body {
    background: #f9f7fe;
    font-family: "Roboto", sans-serif;
 } 
 a {
    color: #885df1;
 }
 
.weatherrepo {
    background: white;
    max-width:  600px;
    margin: 60px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px; 
}   

header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 0 0 30px 0;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    color: rgb(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 20px; 
    max-width: 75%;
    border-radius: 5px; 
}
.search-form-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #032a06;
    color: white;
    border: none;
    padding: 15px 20px;
    line-height: 1;
    border-radius: 5px;
}
 main {
    padding: 30px 0;
}
.weatherrepo-data {
    display: flex;
    justify-content: space-between;
}
.city {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}
.temperature-container {
    position: absolute;
    top: 35%;
    right: 20% ;
}    

.temperature-icon {
    position: relative;
    top: -40px;
    font-size: 40px;
    margin-right: 1px;
}
.temperature-value {
    font-size: 70px;
    font-weight: bold;
}
.temperature-unit {
    font-size:  29px;
    position: relative; 
    top: -38px;
}
 
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
} 
